@import "~bootstrap/scss/bootstrap";

@import "fonts";
@import "variables";
@import "../assets/flipclock.css";

body {
  background: url("../assets/background.svg");
  background-repeat: no-repeat;
  background-size: auto;
  padding: 55px 0 15px;
  font-family: "Poppins", sans-serif;
}

h2  {
  margin: 110px 0 23px 0;
  color: $white;
  font-weight: 300;
  font-size: 24px;
}

p {
  font-size: 12px;
  font-weight: 300;
  color: $white;
  max-width: 60%;
}

.form-notify {
  margin-bottom: 150px;
  input {
    font-size: 12px;
    color: $white;
    background-color: $pink;
    border: none;
    border-radius: 20px 20px 0 20px;
    width: 70%;
    float: left;
    height: 41px;
  }

  input:focus {
    border: none;
    background: $pink;
    color: $white;
    box-shadow: none;
  }

  button {
    background: linear-gradient($yellow, $darkYellow);
    border-radius: 0 20px 20px 20px;
    height: 41px;
    border: none;
    width: 30%;
    margin-left: -20px;
    font-size: 12px;
  }

  button:hover {
    @include horizontal-gradient($darkYellow, $yellow);
    transition: .25s;
    cursor: pointer;
  }
}

/* Override default style for countdown clock */

.clock {
  margin-bottom: 63px;
}

.flip-clock-wrapper {
  margin-left: 0;
}

.flip-clock-divider .flip-clock-label {
  top: 110px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: $white;
}

.flip-clock-wrapper ul li a div div.inn {
  background-color: $white;
  color: #E944C5;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.flip-clock-dot {
  background: $white;
}

.mobile-image {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: none;
}


/*
 Responsive tablet
*/

@media (max-width: 1200px) {
  .clock {
    max-width: 290px;
  }

  .logo {
    max-width: 200px;
    display: block;
    margin: 0 auto;
  }

  .flip-clock-wrapper ul {
    width: 35px;
    margin: 5px 1px;
  }

  .flip-clock-divider {
    width: 18px;
  }

  .flip-clock-divider .flip-clock-label {
    right: -57px;
  }

  .flip-clock-wrapper ul li a div div.inn {
    font-size: 50px;
  }
}

/*
 Responsive mobile
*/
@media (max-width: 768px) {
  h2  {
    margin: 30px 0 23px 0;
    text-align: center;
  }

  .clock {
    max-width: 290px;
    margin: 0px auto 40px;
  }

  .logo {
    max-width: 200px;
    display: block;
    margin: 0 auto;
  }

  .flip-clock-wrapper ul {
    width: 35px;
    margin: 5px 1px;
  }

  .flip-clock-divider {
    width: 18px;
  }

  .flip-clock-divider .flip-clock-label {
    right: -57px;
  }

  .flip-clock-wrapper ul li a div div.inn {
    font-size: 50px;
  }

  p {
    max-width: 100%;
    text-align: center;
  }

  body {
    padding: 20px 0;
    background: linear-gradient(#9938D2, #351087) no-repeat left top;
  }

  .mobile-image {
    display: block;
  }

  .form-notify {
    margin-bottom: 20px;

    button {
      width: 35%;
    }
  }
}
