@import "~bootstrap/scss/bootstrap";
@import "../assets/flipclock.css";

@import "fonts";
@import "variables";
@import "typography";
@import "clock";
@import "form";
@import "responsive";

a.telegram-link {
  text-decoration: none;
  color: $white;
  border: none;
  display: block;
  background: none;
  margin-top: 20px;
}

